---
layout: default
title: Organizers
permalink: /organizers/
---

<h2>{{ page.title }}</h2>

<p>Contact the organizers at <a href="mailto:dcipworkshop@googlegroups.com">dcipworkshop@googlegroups.com</a></p>

{% assign ordered_organizers = (site.organizers | sort: 'order') %}
{% for organizer in ordered_organizers %}
<div class="organizer">
  {% if organizer.website %}
    <a class="organizer-website" href="{{ organizer.website }}">
  {% endif %}
  <h3 class="organizer-heading">{{ organizer.name }}</h3>
  {% if organizer.website %}
    </a>
  {% endif %}
  {% if organizer.affiliation %}
    <div class="organizer-affiliation">{{ organizer.affiliation }}</div>
  {% endif %}
  {% if organizer.portrait %}
    {% if organizer.website %}
      <a class="organizer-website" href="{{ organizer.website }}">
    {% endif %}
    <img src="{{ organizer.portrait }}" class="portrait"/>
    {% if organizer.website %}
      </a>
    {% endif %}
  {% endif %}
  <p>{{ organizer.content }}</p>
</div>
{% endfor %}