<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <!--<li>{{ site.title }}</li>-->
          <li>Contact the organizers at <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

    <div class="footer-col footer-col-2">
        <!--<ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>-->
      </div>

      <div class="footer-col footer-col-3">
        <p>Header image by <a href="https://commons.wikimedia.org/wiki/User:Diacritica" target="_blank">Diacritica</a>
          <br/>
          <a class="cc-license" href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank"><img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" width="16" height="16"/>&nbsp;CC BY-SA 3.0</a>
        </p>
      </div>
    </div>

  </div>

</footer>
